<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <div class="content">
        <div>
            <h4>Products:</h4>
            <form action="/save" method="post" enctype="multipart/form-data">
                <input type="text" name="MaSanPham" id="MaSanPham" placeholder="Ma San Pham"> <br>
                <input type="text" name="TenSanPham" id="TenSanPham" placeholder="Ten San Pham"> <br>
                <input type="text" name="SoLuong" id="SoLuong" placeholder="So Luong"> <br>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg"> <br>
                <input type="submit" value="Add"> <br>
            </form>
        </div>
        <form action="/delete" method="post" enctype="multipart/form-data">
            <table border="true">
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Hình ảnh</th>
                    <th>Chọn</th>
                </tr>
                <% for (let i=0; i< data.length; i++){ %>
                    <tr>
                        <td>
                            <%= data[i].MaSanPham %>
                        </td>
                        <td>
                            <%= data[i].TenSanPham %>
                        </td>
                        <td>
                            <%= data[i].SoLuong %>
                        </td>
                        <td>
                            <img src="<%= data[i].HinhAnh %>" alt="avt_<%= data[i].maSanPham %>" width="48"
                                height="48" /></td>
                        <td>
                            <input type="checkbox" name="<%= data[i].MaSanPham %>" id="<%= data[i].MaSanPham %>" />
                        </td>
                    </tr>
                    <% } %>
                        <input type="submit" value="Xoá">
            </table>
        </form>
    </div>
</body>

</html>